/* .homepage_container{
    width: 100%;
    color: var(--mainbackground);
} */
.homepage_top {
  background-color: var(--mainbackground);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  gap: 30px;
}

.left img {
  height: 300px;
  width: 100%;
  border-radius: 40px;
  border: solid black 2px;
}

.right {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 60%;
  font-family: var(--mainfont);
  font-weight: bold;
  color: #6c63ff;
}

.explore-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homepage_mid{
    background-color: var(--mainbackground);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    gap: 30px;
}

